<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <%- include("partials/_header") %>
    <ul>
      <% for (var shortUrl in urls) { %>
      <li><%= urls[shortUrl] %> - <%= shortUrl %> - <a href></a></li>
      <form method="POST" action="/urls/<%= shortUrl %>/delete"><button>Delete</button></form>
      <% }; %>
    </ul>
</body>
</html>