<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp Login</title>
  </head>
  <body>
      <!-- Add your EJS code here -->
      <header><% include ./partials/_header %></header>
        <a href = "/urls/<%= shortUrl %>">Edit</a>
        <form method="POST" action="/urls/login">
  </body>
</html>