<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= shortURL %></title>
  </head>
  <body>
    <%= shortURL %> - <%= address %>
    <form action="/urls/:id" method="POST" style="margin:150px;">
      <label for="longURL"></label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= address %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>